
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.image {
    position: relative;
    max-width: 600px;
    width: 90%;
}

.image img {
    width: 100%;
    height: auto;
    opacity: 0.8;
    display: block;
    border-radius: 10px;
    filter: blur(2px);
    
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgb(187, 88, 108);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.image:hover .text {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(0);
    animation: slideInFromLeft 0.5s ease-in-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translate(-50%, -50%) translateX(-100%);
    }
    100% {
        transform: translate(-50%, -50%) translateX(0);
    }
}
